<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="flex p-4">
            <!-- logo -->
            <div class="logo" >
                <a href="/" class="font-semibold text-xl px-4">Trang chủ</a>
            </div>
            <!-- navigation -->
            <div class="flex navigation "  >
                <div class="px-4">
                    <a href="/products" class="font-semibold text-lg text-gray-600">Sản phẩm</a>
               </div>
               <div class="px-4">
                    <a href="/listProducts" class="font-semibold text-lg text-gray-600">Giỏ hàng</a>
                </div>
                <div class="px-4">
                    <a href="/admin/category" class="font-semibold text-lg text-gray-600">Danh mục</a>
                </div>
                <div class="px-4">
                    <a href="/order" class="font-semibold text-lg text-gray-600">Order</a>
                </div>

                

            </div>


        </nav>
    </header>
</body>
</html>